*{margin: 0; padding: 0}
#box{
    width:100px;
    height: 100px;
    border-style:solid;
    border-width: 5px;
    border-color: blue;
    background-color: red;
    padding:10px;
    margin:0.25in;
}